.beer-list{
    display: grid;
    flex: 1;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    grid-gap: 2rem;

    .image-container{
        min-height: 15.25rem;
        
        @media only screen and (min-width: 1246px){
            clip-path: circle(6rem at center);
        }
    }

    img{
        animation: fadeIn 250ms 500ms ease-in-out forwards;
        margin: 0;
        opacity: 0;
        width: 100%;
    }
}

