.pagination-actions{
    margin: 1rem 0;
    position: fixed;
    top: 0;
    right: 1rem;
    
    button{
        background: $white;
        border-radius: 50%;
        display: inline-block;
        transition: transform 250ms ease-in-out;
        width: auto;

        i{
            color: $yellow;
        }

        &:first-of-type{
            margin-right: 1rem;
            &:hover{
                transform: translateX(-3px);
            }
        }

        &:last-of-type{
            float:right;
            &:hover{
                transform: translateX(3px);
            }
        }
    }
}