.pagination-actions{
    margin: 1rem 0;
    position: absolute;
    top: 0.75rem;
    right: 5rem;

    span{
        font-size: 1rem;
        font-weight: bold;
        padding-right: 1rem;
    }
    
    button{
        &:first-of-type{
            margin-right: 1rem;
            &:hover:not(:disabled){
                transform: translateX(-3px);
            }
        }

        &:last-of-type{
            float:right;
            &:hover:not(:disabled){
                transform: translateX(3px);
            }
        }
    }
}