//Colors
$red: #752101;
$blue: #315472;
$yellow: #D6A600;
$gold: #8C4302;
$white: #FFF;
$black: #000;

//Fonts
$bodyFont: 'Roboto', sans-serif;
$displayFont: 'Patua One', 'helvetica', cursive;

//Breakpoints
$smallScreen: 688px;
$mediumScreen: 1286px;