@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeInAndUp{
  from {opacity:0;
        transform: translateY(10px);}
  to {opacity: 1;
      transform: translateY(0);}
}

@keyframes maxHeightIncrease{
  from {max-height: 0rem;}
  to {max-height: 20rem;}
}

@keyframes beerShake{
  0% {transform: rotate(0);}
  25%{transform: rotate(-10deg);}
  75%{transform: rotate(10deg);}
  100%{transform: rotate(0);}
}