html,
body,
#root{
  height: 100%;
  width: 100%;
}

#root,
.app,
header,
main{
  display: flex;
}

.app{
  flex-direction: column;
}

.app,
header{
  flex: 1;
}

header{
  justify-content: space-between;
  min-height: 5rem;
}

main{
  flex: 15;
  flex-direction: column;
  margin: 2rem 5rem;
}

//Some responsive stuff
@media only screen and (max-width:640px){
  main{
    margin: 1rem 0;
  }
}

//Scrollbars
::-webkit-scrollbar{
  width: 0.5rem;
}

::-webkit-scrollbar-track{
  background: #efefef;
  border-radius: 1.25rem;
}

::-webkit-scrollbar-thumb{
  background: $black;
  border-radius: 1.25rem;
}