dl{
    color: #1f1f1f;
    font-size: 0.875rem;

    dt{
        font-weight: bold;
    }
    
    dt,
    dd{
        margin: 0;
    }

    dt{
        font-size: 1rem;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }

    dd{
        font-size: 0.875rem;
        margin-bottom: 1.25rem;
    }
}