//Core
@import "./styles/core/variables";
@import "./styles/core/mixins";
@import "./styles/core/placeholders";
//Base
@import "./styles/layout";
@import "./styles/typography";
@import "./styles/animations";
//Elements
@import "./styles/elements/buttons";
@import "./styles/elements/cards";
@import "./styles/elements/header";
@import "./styles/elements/lists";
//Components
@import "./styles/components/beer-list";
@import "./styles/components/beer-selections";

body{
  background-color:  #85472e;
}

.app{
  animation: fadeIn 250ms ease-in-out forwards;
  background:  url("./images/beer_bg2.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  //arbitrary, will improve later
  min-height: 75rem;
}

