//Core
@import "./styles/core/variables";
@import "./styles/core/mixins";
@import "./styles/core/placeholders";
//Base
@import "./styles/layout";
@import "./styles/typography";
//Elements
@import "./styles/elements/cards";
@import "./styles/elements/header";
@import "./styles/elements/lists";
//Components
@import "./styles/components/beer-list";
@import "./styles/components/beer-selections";

.app{
  background: url("./images/beer_bg2.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  //arbitrary, will improve later
  min-height: 1400px;
}
